<div class="row">
  <div class="col-md-3">
    <div class="card">
      <div class="card-header">
        <h4 class="card-title">Calendario</h4>
      </div>
      <ngb-datepicker [ngModel]="selectedDate" (dateSelect)="onDateSelect($event)"></ngb-datepicker>
    </div>
  </div>
  <div class="col-md-9">

    <div class="card" style="height: 340px;">
      <div class="card-header">
        <h4 class="card-title">Sesiones disponibles en {{FechaTitulo }}</h4>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Curso</th>
                <th>Hora inicio</th>
                <th>Hora Fin</th>
                <th>Cupo</th>
                <th>Opciones</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let sesion of sesiones; let i = index">
                <tr
                  *ngFor="let detalle of DetalleSesion | slice:i*DetalleSesion.length/sesiones.length:(i+1)*DetalleSesion.length/sesiones.length" [class.selected]="selectedRowIndex === i">
                  <td>{{ detalle.sesion }}</td>
                  <td>{{ detalle.hora_inicio }}</td>
                  <td>{{ detalle.hora_fin }}</td>
                  <td>{{ detalle.cupo }}</td>
                  <td><button class="btn btn-sm btn-outline-danger btn-round btn-icon"
                      (click)="AasignarEstudiante(detalle)"><i class="fa fa-pencil"></i></button></td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="card-body" *ngIf="modoAsignacionAlumno">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h4 class="card-title">Asignar alumno a sesión de {{DesCurso}}</h4>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="fechaInicio">Fecha Inicio: </label>
                <p id="fechaInicio"> {{FechaDesc}}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="horario">Horario: </label>
                <p id="horario"> {{HorarioDesc}}</p>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group">
                <label for="cupo">Cupo Disponible: </label>
                <p id="cupo"> {{CupoDesc}}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label for="estudiante">Asignar Estudiante:</label>
                <select class="form-control" id="estudiante" [(ngModel)]="estudianteSeleccionado" name="estudiante">
                  <option *ngFor="let estudiante of estudiantesDisponibles" [value]="estudiante.Id_estudiante">
                    {{ estudiante.Nombre }}
                  </option>
                </select>
              </div>
            </div>
            <div class="col-md-6">
              <p></p>
              <button type="button" class="btn btn-primary" (click)="agregarAlumno()">Agregar alumno</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

</div>